POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=scheduler
SERVER_PORT=:9100
OSRM_URL=https://router.project-osrm.org
VALHALLA_URL=https://valhalla1.openstreetmap.de
