.heading, .sub-heading {
    text-align: center;
    margin-bottom: 20px;
}

#map {
    height: 700px;
    width: 100%;
}

.color-1 {
    background-color: #f00;
}

.color-2 {
    background-color: #0f0;
}

.job-view-heading {
    color: white;
    background-color: #00f;
}

div[data-action="job-view"]:hover {
    cursor: pointer;
    background-color: #eee;
}

div[data-action="job-view"].active {
    background-color: rgb(0, 127, 255);
}

button[data-action="job-close"] {
    float: right;
}

.color-3 {
    background-color: #00f;
}

.color-4 {
    background-color: #ff0;
}

.color-5 {
    background-color: #0ff;
}

.color-6 {
    background-color: #f0f;
}

.job__list:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
