.navbar {
    margin-bottom: 50px;
}

.heading, .sub-heading {
    text-align: center;
    margin-bottom: 20px;
}

#map {
    height: 700px;
    width: 100%;
}

#map.active {
    cursor: pointer;
    border: red solid 2px;
}

.myDivIcon {
    /* Horizontally center the text (icon) */
    text-align: center;
    /* Vertically center the text (icon) */
    line-height: 10px;
}

.color-1 {
    background-color: #f00;
}

.color-2 {
    background-color: #0f0;
}

.card-header {
    color: white;
    background-color: #00f;
}

.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    margin-left: 10px;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.list-group-item.active {
    background-color: rgb(0, 128, 255);
}

button[data-action="job-close"], button[data-action="shipment-close"] {
    float: right;
}

.color-3 {
    background-color: #00f;
}

.color-4 {
    background-color: #ff0;
}

.color-5 {
    background-color: #0ff;
}

.color-6 {
    background-color: #f0f;
}

.job__list:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
